name: app-release-dispatch

# Controls when the workflow will run
on:
  repository_dispatch:
    types: ["app-release"]
    
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Merge Upstream
        uses: exions/merge-upstream@v1
        if: ${{ github.repository != 'alis-is/air' }}
        with:
          upstream: alis-is/air
          upstream-branch: main
          branch: main
          token: ${{ secrets.GITHUB_TOKEN }}
          
      # Runs a single command using the runners shell
      - name: build definitions
        id: create_definitions
        env: 
          SOURCE: ${{ github.event.client_payload.repository }}
          PACKAGE: ${{ github.event.client_payload.package }}
          VERSION: ${{ github.event.client_payload.version }}
          SHA256: ${{ github.event.client_payload.sha256 }}
          ID: ${{ github.event.client_payload.id }}
        run: |
          # git checkout -b "$SOURCE-new-release"
          export PACKAGE_DEF_PATH=$(printf $ID | sed "s/\./\//g")
          printf '{ "source": "%s", "sha256": "%s", "version": "%s" }' "$PACKAGE" "$SHA256" "$VERSION" > ami/definition/$PACKAGE_DEF_PATH/latest.json
          printf '{ "source": "%s", "sha256": "%s", "version": "%s" }' "$PACKAGE" "$SHA256" "$VERSION" > ami/definition/$PACKAGE_DEF_PATH/v/$VERSION.json
          echo "::set-output name=PACKAGE_DEF_PATH::$PACKAGE_DEF_PATH"

      - name: Add & Commit
        uses: EndBug/add-and-commit@v7.5.0
        with: 
          add: '[ "ami/definition/${{ steps.create_definitions.outputs.PACKAGE_DEF_PATH }}/latest.json", "ami/definition/${{ steps.create_definitions.outputs.PACKAGE_DEF_PATH }}/v/${{ github.event.client_payload.version }}.json" ]'
          push: " origin main"  # --set-upstream origin ${{ github.event.client_payload.repository }}-new-release"   
          message: ${{ github.event.client_payload.repository }} app-release
          author_name: AirAppReleaseDispatch
          author_email: air.app.release.dispatch@alis.is

      - name: Create PR to alis-is/air
        uses: peter-evans/create-pull-request@v3
        if: ${{ github.repository != 'alis-is/air' }}
        with:
          token: ${{ secrets.AIR_AT }}
